.sec {
  padding: 10px;
}

#input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input {
  display: inline-block;
  margin-top: 10px;
  border: 0;
  width: 88%;
  outline: none;
  line-height: 30px;
  background-color: #f2f3f4;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 40px;
}

#input img {
  position: absolute;
  bottom: 5px;
  left: 20px;
}

#input>span {
  margin-left: 6px;
  color: #555;
}

.hot, .near {
  display: flex;
}

.hot .hot2, .near .near2 {
  float: left;
}

.hot1 img, .hot1 p, .near1 img, .near1 p {
  float: left;
  line-height: 36px;
  margin-left: 10px;
}

.hot1, .near1 {
  position: relative;
}

.hot1 img, .near1 img {
  position: absolute;
  top: 10px;
}

.hot1 p, .near1 p {
  display: inline-block;
  margin-left: 30px;
}

.hot .hot2 span, .near .near2 span {
  color: #555;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 10px;
  padding: 1px 3px;
}